.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(36, 36, 35);
}
.main{
  border: 1px black solid;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(41, 56, 1);
}
.mainCalcDiv{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 8rem;
}
.input{
  border-radius: 0.5rem;
  height: 3rem;
  width: 17rem;
  text-align: right;
}
.smallButton{
  height: 1.5rem;
  width: 3rem;
}
.buttonDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 9px; 
  margin-top: 1.4rem;
}
.del{
  height: 2rem;
  width: 5rem;
  margin-top: 1.4rem;
  border-radius: 0.5rem;
}