.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainCalcDiv{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input{
  border-radius: 0.5rem;
  height: 3rem;
  width: 17rem;
}
.smallButton{
  height: 1rem;
  width: 3rem;
}
.buttonDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 9px; 
  margin-top: 1.4rem;
}
.del{
  height: 2rem;
  width: 5rem;
  margin-top: 1.4rem;
  border-radius: 0.5rem;
}